.main-text{
    margin-top: -300px;
    margin-bottom: 50px;
}
.clear{
    float: left;
    clear: both;
}
.card{
    float: left;
    margin: 150px 137px;
    width: 400px;
    height: 150px;
    padding: 4px;
    opacity: .7;
    border-radius: 10px;
    color: lightgrey;
    /* box-shadow: 15px 15px 8px rgba(255, 255, 255, 0.726); */
}
.infos{
    height: 150px;
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    opacity: .8;
    color: black;
}
h3{
    font-size: 24px;
    width: 300px;
    height: 50px;
    line-height: initial;
}
.options{
    float: left;
    position: absolute;
    margin-top: 238px;
    margin-left: 143px;
    list-style: none;
    background: rgba(38, 38, 65, 0.877);
    color: white;
    text-align: center;
    font-size: 24px;
    padding-right: 40px;
    padding-left: 40px;
    display: none;
    border-radius: 5px;
    border-top: 1px grey;
/*     transition: display;
    transition-duration: 1s; */
}
/* .nav :hover > ul {
    display: block;
} */
li{
    border-top: 1px grey;
}
.options.dias{
    margin-left: 410px;
}
.options.dias2{
    margin-left: -100px;
    margin-top: 315px;
}
.options.horarios{
    margin-left: 580px;
}
.options.horarios2{
    margin-left: 550px;
    margin-top: 315px;
}
.options.indiv{
    margin-left: 70px;
    margin-top: 275px;
}
.options.active{
    background: rgba(61, 61, 141, 0.877);
}