body{
  background: rgb(245,245,245);
  color: green;
  font-size: 30px;
  font-family: "Rodwies, cursive";
}
h1{
  font-family: "Rodwies, cursive";
  src: URL("https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap");
  color: black;
  font-weight: Bold 700;
  font-size: 50px;
}
h2 {
  font-family:"Rodwies, cursive";
  color: black;
  font-weight: lighter;
  font-size: 65px;
}
a {
  color: black;
  font-family:"roboto";
  font-size: 30px;
}
a:hover {
  text-decoration: none;
  color: black;
}

#BANNER{
  margin: 0px auto;
  text-align:center;
  align-items: center;
  background-image: url("images/fondo web.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 360px 0;
  color: lightgrey;
  text-shadow: 3px 3px 3px black;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
}
#banner h1 {
  color: lightgrey;
  font-size: 100px;
}
#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}

#FOOTER{
  padding-bottom: 10px;
	padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;

}
.card{
  padding: 50px;
  font-weight: lighter;
}
#footer a {
  color: lightgrey;
  font-size: 30px;
}
#footer a:hover {
  color: white;
}

.card-clases1 {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
}


.card-clases1 img {
  height: 100%;
  width: 150px;
  object-fit: cover;
}

.card-clases1 h2 {
  font-size: 50px;
  font-weight: bold;
  margin: 0
}

.card-clases1 p {
  font-size: 25px;
  /* line-height: 2.5; */
  opacity: .5;
  margin-bottom: 0;
  margin-top: 10px;
}

.card-clases2 {
  overflow: hidden;
  height: 120px;
  background: white;
  /* box-shadow: 15px 15px 15px rgba(0,0,0,0.5); */
  display: flex;
  align-items: center;
}

.card-clases2 img {
  height: 100%;
  width: 150px;
  object-fit: cover;
}

.card-clases2 h2 {
font-size: 50px;
  font-weight: bold;
  margin: 0
}

.card-clases2 p {
  font-size: 25px;
  line-height: 2.5;
  opacity: .5;
  margin-bottom: 0;
  margin-top: 10px;
}

.card-clases2 -card-clases2-infos {
  padding: 20px;
}

